{% extends 'personal/main.html' %}
{% load static %}


{% block content %}

    <form action="" method="post" class="login-form">
        {% csrf_token %}
        <table class="login-table">
            <tr>
                <th><label for="username">username</label></th>
                <td><input type="text" name="username" id="username" autofocus></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <th><label for="password">password</label></th>
                <td><input type="password" name="password" id="password"></td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary sign-in-btn">sign in</button>
    </form>

{% endblock %}